<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createController</servlet-name>
        <servlet-class>controller.website.createController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptedController</servlet-name>
        <servlet-class>controller.website.acceptedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyController</servlet-name>
        <servlet-class>controller.website.historyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agendaController</servlet-name>
        <servlet-class>controller.website.agendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.website.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleController</servlet-name>
        <servlet-class>controller.website.UpdateRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myrequestController</servlet-name>
        <servlet-class>controller.website.myrequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRequestController</servlet-name>
        <servlet-class>controller.website.updateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRequestController</servlet-name>
        <servlet-class>controller.website.deleteRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createController</servlet-name>
        <url-pattern>/website/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptedController</servlet-name>
        <url-pattern>/website/accepted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyController</servlet-name>
        <url-pattern>/website/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agendaController</servlet-name>
        <url-pattern>/website/agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleController</servlet-name>
        <url-pattern>/admin/updaterole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myrequestController</servlet-name>
        <url-pattern>/website/myrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRequestController</servlet-name>
        <url-pattern>/website/editrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRequestController</servlet-name>
        <url-pattern>/website/deleterequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
